<html>
    <head>
        <title>turbo blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">turbo blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Здесь будет продаваться мерч Турбосорба</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Успейте сделать предзаказ!!</p>
        </div>
    </body>
</html>